[submodule "cdrtools"]
	path = cdrtools
	url = https://github.com/Distrotech/cdrtools
[submodule "cdirip"]
	path = cdirip
	url = https://github.com/jozip/cdirip
[submodule "pled"]
	path = pled
	url = https://github.com/alex-free/pled
[submodule "p7zip"]
	path = p7zip
	url = https://github.com/p7zip-project/p7zip.git
